<div class="col">
  <div class="row page-header-row">
    <div class="pull-left">
      <h3 class="page-heading">{{title}}</h3>
    </div>
    <div class="pull-right">
      <label>
        Filter results by genre: 
        <select [(ngModel)]="selectedGenre" (ngModelChange)="onChangeGenreFilter($event)" >
          <option value="">All</option>
          <option *ngFor="let g of genres" [ngValue]="g.name"> {{g.name}} </option>
        </select>
      </label>
    </div>
  </div>
</div>
<div class="col">
    <div class="row">
      <div class="album-grid">
        <div class="album-grid-item" *ngFor="let a of featuredAlbums">
            <a routerLink="/albumdetails/{{a.id}}">
          <div class="image-container" [ngStyle]="{ 'background-image': 'url('+service.apiHost+a.coverImageUrl+')'}">
            <div class="title-panel">
                <div class="title">{{a.title}}</div>
                <div class="sub-heading">{{a.artistName}}</div>
              </div>
          </div>
          </a>
        </div>
    </div>

    <div class="text-center" *ngIf="numPages && numPages > 1">
      <app-pagination [page]="pageIndex" [numpages]="numPages" (pagechange)="onClickUpdatePage($event)"></app-pagination>
    </div>
  </div>
</div>