@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <div class="row">
        <h2>Oauth demo home</h2>
        Demo application to interact with identity server using an implicit grant and display claims from server. 
        Navigate to the <a asp-area="" asp-action="userinfo">user info page</a> to view vlaims data for the user.
    </div>
</div>