<div class="col">
    <div class="row page-header-row">
        <h2>User profile</h2>
    </div>
</div>
<form *ngIf="profile" [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()">
    <div class="form-group username-group">
        <label for="usernameInput">Email</label>
        <input type="text" class="form-control" [readonly]="true" formControlName="username" />
    </div>  
    <div class="form-group firstname-group">
        <label for="firstnameInput">Firstname</label>
        <input required type="text" class="form-control" formControlName="firstname" />
        <div *ngIf="profileForm.controls['firstname'].invalid && (profileForm.controls['firstname'].dirty || profileForm.controls['firstname'].touched)" class="alert alert-danger">
                <div [hidden]="!profileForm.controls['firstname'].errors.required">Required!</div>
        </div>
    </div>
    <div class="form-group surname-group">
        <label for="surnameInput">Surname</label>
        <input required type="text" class="form-control" formControlName="surname" />
        <div *ngIf="profileForm.controls['surname'].invalid && (profileForm.controls['surname'].dirty || profileForm.controls['surname'].touched)" class="alert alert-danger">
                <div [hidden]="!profileForm.controls['surname'].errors.required">Required!</div>
        </div>
    </div>
    <div class="form-group phonenum-group">
        <label for="phonenumberInput">Phone No</label>
        <input required type="text" class="form-control" formControlName="phonenumber" />
        <div *ngIf="profileForm.controls['phonenumber'].invalid && (profileForm.controls['phonenumber'].dirty || profileForm.controls['phonenumber'].touched)" class="alert alert-danger">
                <div [hidden]="!profileForm.controls['phonenumber'].errors.required">Required!</div>
                <div [hidden]="!profileForm.controls['phonenumber'].errors.minlength">Must be at least 10 chars!</div>
                <div [hidden]="!profileForm.controls['phonenumber'].errors.pattern">Must be numbers only!</div>
        </div>
    </div>
    <div class="form-group dob-group">
        <label for="dateOfBirthInput">Date of birth</label>
        <!-- <ng-datepicker  type="text" name="dateOfBirthInput" [(ngModel)]="profile.dateOfBirth"></ng-datepicker> -->
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" #d="ngbDatepicker" (click)="d.toggle()" ngbDatepicker formControlName="dateofbirth">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
            </div>
        </div>
        <div *ngIf="profileForm.controls['dateofbirth'].invalid && (profileForm.controls['dateofbirth'].dirty || profileForm.controls['dateofbirth'].touched)" class="alert alert-danger">
            <div [hidden]="!profileForm.controls['dateofbirth'].errors.required">Required!</div>
            <div [hidden]="!profileForm.controls['dateofbirth'].errors.ngbDate?.invalid">Invalid date!</div>
        </div>
    </div>
    <button class="btn btn-primary submit-form-btn" type="submit" [disabled]="savingInProgress">{{savingInProgress ? 'saving' : 'update profile'}}</button>
</form>
